<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.sign.dao.LiveRoomDao">
	<resultMap id="BaseResultMap"
		type="com.yonyou.sign.sdk.model.LiveTenantEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="appcloudId" jdbcType="VARCHAR" property="appcloudId" />
		<result column="tenantId" jdbcType="VARCHAR" property="tenantId" />
		<result column="adminId" jdbcType="VARCHAR" property="adminId" />
		<result column="liveRoomId" jdbcType="VARCHAR" property="liveRoomId" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="inviteUserId" jdbcType="VARCHAR" property="inviteUserId" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="levels" jdbcType="VARCHAR" property="levels" />
	</resultMap>
	
	
	<sql id="Base_Column_List">
		id, appcloudId, tenantId, adminId, 
		liveRoomId, createTime, inviteUserId, status, levels
	</sql>
	
	<select id="getLiveRoomByTenant" parameterType="Map"
		resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from live_tenant_room
		<where>
		 appcloudId = #{appcloudId,jdbcType=VARCHAR}
		 and tenantId = #{tenantId,jdbcType=VARCHAR}
		 and adminId = #{adminId,jdbcType=VARCHAR}
		 and status = '1'
		</where>
	</select>
	
	<select id="getLiveRoomByEntity" parameterType="com.yonyou.sign.sdk.model.LiveTenantEntity"
		resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from live_tenant_room t
		<where>
			<if test="appcloudId != null">
				and t.appcloudId = #{appcloudId,jdbcType=VARCHAR}
			</if>
			<if test="tenantId != null">
				and t.tenantId = #{tenantId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null">
				and t.adminId = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="inviteUserId != null">
				and t.inviteUserId = #{inviteUserId,jdbcType=VARCHAR}
			</if>
			<if test="liveRoomId != null">
				and t.liveRoomId = #{liveRoomId,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and t.status = #{status,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="getLiveRoomByAppAndTenant" parameterType="Map"
		resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from live_tenant_room
		<where>
		 appcloudId = #{appcloudId,jdbcType=VARCHAR}
		 and tenantId = #{tenantId,jdbcType=VARCHAR}
		</where>
		limit 1
	</select>
	
	<insert id="insertLiveRoomEntity" parameterType="com.yonyou.sign.sdk.model.LiveTenantEntity">
	  insert into live_tenant_room
	  (appcloudId,tenantId,adminId,liveRoomId,createTime,inviteUserId,levels)
	  values
	  (
	  #{appcloudId,jdbcType=VARCHAR},
	   #{tenantId,jdbcType=VARCHAR},
	   #{adminId,jdbcType=VARCHAR},
	   #{liveRoomId,jdbcType=VARCHAR},
	   #{createTime,jdbcType=DATE},
	   #{inviteUserId,jdbcType=VARCHAR},
	   #{levels,jdbcType=VARCHAR}
	  )
	</insert>
	
	<update id="deleteByUserAndRoom">
		update live_tenant_room t set t.status = '0' where t.adminId = #{userId}
		and t.liveRoomId = #{liveRoomId} and t.inviteUserId is not null
	</update>
	
	<update id="updateLiveRoom">
		update live_tenant_room t 
		<set>
			<if test="appcloudId != null">
				t.appcloudId = #{appcloudId,jdbcType=VARCHAR},
			</if>
			<if test="tenantId != null">
				t.tenantId = #{tenantId,jdbcType=VARCHAR},
			</if>
			<if test="adminId != null">
				t.adminId = #{adminId,jdbcType=VARCHAR},
			</if>
			<if test="inviteUserId != null">
				t.inviteUserId = #{inviteUserId,jdbcType=VARCHAR},
			</if>
			<if test="liveRoomId != null">
				t.liveRoomId = #{liveRoomId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				t.status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="levels != null">
				t.levels = #{levels,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			t.id = #{id,jdbcType=VARCHAR}
		</where>
	</update>
</mapper>