<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/broadcast/broadcast.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/broadcast/broadcast.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter> 
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-traceId}] [%X{X-sysId}] [%X{X-userId}] [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root level="TRACE">
		<appender-ref ref="rollingFile" />
	</root>
</configuration>