<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.live.broadcast.dao.LiveRoomDao">
	<resultMap id="BaseResultMap"
		type="com.yonyou.live.broadcast.sdk.model.LiveTenantEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="appcloudId" jdbcType="VARCHAR" property="appcloudId" />
		<result column="tenantId" jdbcType="VARCHAR" property="tenantId" />
		<result column="adminId" jdbcType="VARCHAR" property="adminId" />
		<result column="liveRoomId" jdbcType="VARCHAR" property="liveRoomId" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	
	
	<sql id="Base_Column_List">
		id, appcloudId, tenantId, adminId, 
		liveRoomId, createTime
	</sql>
	
	<select id="getLiveRoomByTenant" parameterType="Map"
		resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from live_tenant_room
		<where>
		 appcloudId = #{appcloudId,jdbcType=VARCHAR}
		 and tenantId = #{tenantId,jdbcType=VARCHAR}
		 and adminId = #{adminId,jdbcType=VARCHAR}
		</where>
	</select>
	
	<select id="getLiveRoomByAppAndTenant" parameterType="Map"
		resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from live_tenant_room
		<where>
		 appcloudId = #{appcloudId,jdbcType=VARCHAR}
		 and tenantId = #{tenantId,jdbcType=VARCHAR}
		</where>
	</select>
	
	<insert id="insertLiveRoomEntity" parameterType="com.yonyou.live.broadcast.sdk.model.LiveTenantEntity">
	  insert into live_tenant_room
	  (appcloudId,tenantId,adminId,liveRoomId,createTime)
	  values
	  (
	  #{appcloudId,jdbcType=VARCHAR},
	   #{tenantId,jdbcType=VARCHAR},
	   #{adminId,jdbcType=VARCHAR},
	   #{liveRoomId,jdbcType=VARCHAR},
	   #{createTime,jdbcType=DATE}
	  )
	</insert>
</mapper>